body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.header{
    border-bottom: 2px solid #5ecd32;
    
}

.container{
    color: #5ecd32;
    display: flex;
    justify-content: space-between;
}

.container ul{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    list-style: none;
}

.header .container {
    justify-content: center;
    align-items: center;
}

ul a{
    text-decoration: none;
    color: #14c005;
}

.agora {
    font-weight: 900;
}

.containercorpo {
    display: flex;
    background-image: url(imagemprincipal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1222px;
    height: 520px;
}
.glass {
    height: 25%;
    width: 100%;
    max-width: 800px;
    background-color: #0000005f;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 10px;
    align-content: center;
}

.containercorpo .glass p {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;

}

.containercorpo2 {
    background-color: #245591;
    width: 1222px;
    height: 300px;
    justify-content: center;
    border-style: solid;
    border-color: #245591;
    border-width: 1px;


}

.containercorpo2 .frase{
    margin-left: 50px;
    font-size: 57px;
    font-weight: 800;
    text-transform: none;
    line-height: 1.1em;
    letter-spacing: -2px;
    color: #ffffff;

}
.containercorpo3 {
    background-color: #ffffff;
    width: 1223px;
    height: 300px;
    justify-content: center;
    padding-top: 20px;
}

.containercorpo3 p {
    margin-left: 500px;
    font-size: 57px;
    font-weight: 800;
    text-transform: none;
    line-height: 1.1em;
    letter-spacing: -2px;
    color: #245591;
    
}


.main-container {
    padding: 10px;
    background-color: #245591;
  }
  
  /* TITULO */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 800;
    font-size: 40px;
  }
  
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    max-height: 400px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
  

  
  .card_titulo {
    grid-row: 2/3;
    font-size: 30px;
    font-weight: bold;
  }
  
  .card_desc {

    font-weight: 500;
    color: #000000;
    grid-row: 3/4;
  }
  
  
  /* BACKGROUND DOS CARDS */
  
  .card-1 {
    background: radial-gradient(#44efff, #0691dc);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }
  

/* RODAPÉ */


